[submodule "mrpipe/Toolboxes/submodules/hdbet"]
	path = mrpipe/Toolboxes/submodules/hdbet
	url = https://github.com/MIC-DKFZ/HD-BET.git
[submodule "mrpipe/Toolboxes/submodules/synthseg"]
	path = mrpipe/Toolboxes/submodules/synthseg
	url = https://github.com/BBillot/SynthSeg.git
[submodule "mrpipe/Toolboxes/submodules/TractSeg"]
	path = mrpipe/Toolboxes/submodules/TractSeg
	url = https://github.com/MIC-DKFZ/TractSeg.git
[submodule "mrpipe/Toolboxes/submodules/chi-separation"]
	path = mrpipe/Toolboxes/submodules/chi-separation
	url = https://github.com/SNU-LIST/chi-separation.git
	
	
[submodule "mrpipe/Toolboxes/submodules/spm12"]
	path = mrpipe/Toolboxes/submodules/spm12
	url = https://github.com/spm/spm.git
