abagen==0.1.3
absl-py==1.2.0
aiohttp==3.8.1
aiosignal==1.2.0
anyio==3.6.1
appnope==0.1.3
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
astor==0.8.1
astunparse==1.6.3
async-timeout==4.0.2
asynctest==0.13.0
awkde @ git+https://github.com/noxtoby/awkde.git@1c31e55fe54c0cad80ab423a9605fc9ddfb2614c
Babel==2.10.1
beautifulsoup4==4.11.1
bids-validator==1.9.4
bleach==5.0.0
brainspace==0.1.3
cachetools==5.2.0
certifi==2022.9.24
charset-normalizer==2.1.1
ci-info==0.3.0
click==8.1.3
cloudpickle @ file:///home/conda/feedstock_root/build_artifacts/cloudpickle_1697464713350/work
conda-pack==0.8.0
Cython==0.29.30
cytoolz @ file:///home/conda/feedstock_root/build_artifacts/cytoolz_1706897079399/work
dask @ file:///home/conda/feedstock_root/build_artifacts/dask-core_1683908660643/work
debugpy==1.6.0
defusedxml==0.7.1
dill==0.3.5.1
dis==1.0.1
docopt==0.6.2
entrypoints==0.4
etelemetry==0.3.0
fastjsonschema==2.15.3
filelock==3.8.0
flatbuffers==1.12
fmriprep==21.0.2
fmriprep-docker==21.0.2
fonttools==4.33.3
formulaic==0.2.4
frozenlist==1.3.0
fsspec @ file:///home/conda/feedstock_root/build_artifacts/fsspec_1710808267764/work
gast==0.4.0
google-auth==2.11.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
GPUtil==1.4.0
grpcio==1.48.1
h5py==3.11.0
idna==3.4
imagecodecs @ file:///home/conda/feedstock_root/build_artifacts/imagecodecs_1644819507818/work
imageio==2.19.3
importlib-metadata==4.12.0
importlib-resources==5.7.1
indexed-gzip==1.6.13
iniconfig==1.1.1
interface-meta==1.3.0
ipykernel==6.13.1
ipython==7.34.0
isodate==0.6.1
jedi==0.18.1
joblib==1.4.2
json-maj==0.0.8
json5==0.9.8
jsonschema==4.6.0
jupyter-client==7.3.3
jupyter-core==4.10.0
jupyter-server==1.18.1
jupyterlab-pygments==0.2.2
kde-ebm @ git+https://github.com/ucl-pond/kde_ebm.git@8a3c0d1f5641168852e40181f62a05cfd3e825e2
keras==2.9.0
Keras-Preprocessing==1.1.2
libclang==14.0.6
linecache2==1.0.0
locket @ file:///home/conda/feedstock_root/build_artifacts/locket_1650660393415/work
lockfile==0.12.2
looseversion==1.0.2
lxml==4.9.1
mapca==0.0.3
Markdown==3.4.1
MarkupSafe==2.1.5
matplotlib==3.5.2
matplotlib-inline==0.1.3
multidict==6.0.2
multiprocess==0.70.14
nbclassic==0.3.7
nbclient==0.6.4
nbformat==5.4.0
nest-asyncio==1.5.5
networkx==2.8.8
nibabel==4.0.2
nilearn==0.7.0
nipype==1.8.5
nitime==0.9
nitransforms==21.0.1
niworkflows==1.6.2
notebook-shim==0.1.0
num2words==0.5.10
numexpr==2.8.6
numpy==1.24.4
oauthlib==3.2.0
openpyxl==3.1.5
opt-einsum==3.3.0
packaging==21.3
pandocfilters==1.5.0
parso==0.8.3
partd @ file:///home/conda/feedstock_root/build_artifacts/partd_1695667515973/work
pathos==0.3.0
Pillow==9.1.1
pox==0.3.2
ppft==1.7.6.6
prometheus-client==0.14.1
prompt-toolkit==3.0.29
protobuf==3.19.4
prov==2.0.0
ptyprocess==0.7.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pybids==0.14.1
pybind11==2.10.3
pydicom==2.4.4
pydot==1.4.2
Pygments==2.12.0
pyparsing==3.0.9
pypet2bids==1.4.6
pyrsistent==0.18.1
pySuStaIn @ file:///cluster2/jdenecke/GENFI/Scripts/pySuStaIn
pytest==7.1.1
python-dateutil==2.8.2
python-dotenv==1.0.1
pytz==2022.1
PyWavelets==1.3.0
pyxlsb==1.0.10
PyYAML==6.0
pyzmq==23.1.0
rdflib==6.2.0
requests==2.32.4
requests-oauthlib==1.3.1
rsa==4.9
scikit-image==0.19.2
scikit-learn==1.0.2
scipy==1.9.3
sdcflows==2.0.13
seaborn==0.11.2
Send2Trash==1.8.0
sh==1.14.2
SimpleITK==2.3.1
simplejson==3.17.6
six==1.16.0
sklearn==0.0.post1
smriprep==0.8.3
sniffio==1.2.0
soupsieve==2.3.2.post1
SQLAlchemy==1.3.24
surfplot==0.1.0
svgutils==0.3.4
tedana==0.0.12
templateflow==0.8.1
tensorboard==2.9.1
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.9.2
tensorflow-estimator==2.9.0
tensorflow-io-gcs-filesystem==0.26.0
termcolor==1.1.0
terminado==0.15.0
threadpoolctl==3.1.0
tifffile==2021.11.2
tinycss2==1.1.1
toml==0.10.2
tomli==2.0.1
toolz @ file:///home/conda/feedstock_root/build_artifacts/toolz_1706112571092/work
torch==1.12.1
tqdm==4.64.0
traceback2==1.4.0
traitlets==5.2.2.post1
traits==6.3.2
transforms3d==0.3.1
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1708904622550/work
unittest2==1.1.0
urllib3==1.26.12
vtk==9.1.0
websocket-client==1.3.2
Werkzeug==3.0.6
wrapt==1.14.1
wslink==1.6.5
xlrd==2.0.2
xvfbwrapper==0.2.9
yarl==1.7.2
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1695255097490/work
